
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/stylesheet.css"></link>
    </head>
    <body>
        <div class="container">
        <section class="headline"><a href="/"><h1>Portfolio</h1><h1> Mr. Ebbmo Gårdinger</h1></a></section>
        <main class="main">
        {{{body}}}
        </div>
    </div>
    <script src="script.js"></script>
    </body>
</html>
