body {
    margin:0;
    padding:0;
    background: white;
    overflow-y: none;
}
 a {

  color:white;
  text-decoration: none;
  font-weight: bold;
}

a:active {
	color:black;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: black;
}

.link {
    position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box; 
  cursor: pointer;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  padding:20px;
}


h1 a {
  font-family: 'Roboto Condensed', sans-serif;
  position: sticky !important;
}

h4 {
  font-family: 'Roboto Condensed', sans-serif;
  cursor:hand;
}

h4 a {
  font-family: 'Roboto Condensed', sans-serif;
  cursor:hand;
}

h4:hover {
  color: black;
  cursor:hand !important;
}

h4:active {
  color: purple;
  cursor:hand !important;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}


.content {
	color: white;
	padding: 40px;
}

.link{
  height: 108px;
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box; }

.plusBtn {
  float:right;
  font-size: 80px;
  color: white;
}

.minusBtn {
  float:right;
  font-size: 80px;
  color: white;
}

}




/*
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader 
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 99;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}
*/


.loading {
  position: absolute;
  width: 100%;
  max-width: 960px;
  height: 100%;
}
.loading-bar {
  width: 100%;
  height: 108px;
  animation: loading 1s ease 0.1s infinite;
}
.loading-bar:nth-child(1) {
  animation-delay: 0s;
}
.loading-bar:nth-child(2) {
  animation-delay: 0.10s;
}
.loading-bar:nth-child(3) {
  animation-delay: 0.20s;
}
.loading-bar:nth-child(4) {
  animation-delay: 0.30s;
}
.loading-bar:nth-child(5) {
  animation-delay: 0.40s;
}
.loading-bar:nth-child(6) {
  animation-delay: 0.50s;
}
.loading-bar:nth-child(7) {
  animation-delay: 0.60s;
}
.loading-bar:nth-child(8) {
  animation-delay: 0.70s;
}
.loading-bar:nth-child(9) {
  animation-delay: 0.80s;
}
.loading-bar:nth-child(10) {
  animation-delay: 0.90s;
}


@keyframes loading {

  100% {
   display:none
  }

  1% {
    display:block;
    background-color: transparent;
  }
}