* {
    margin: 0;
}

body {
    background: white;
    font-family: helvetica;
}
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 10px;
    width: 95%;
}

.info {
    color: lightgray;
    font-family: helvetica;
    font-size: 15px;
    width: 10px;
    margin: 0 auto;
    height: 20px;
    width: 20px;
    margin-top: 10vh;
    display: block;
}

a:hover + .bottombox {
    color: gray;
    font-family: helvetica;
    font-size: 8pt;
    margin: 0 auto;
    margin-top: 0vh;
    padding: 0px;
    width: 200px;
    display: block;
}

a:active + .bottombox {
    color: gray;
    font-family: helvetica;
    font-size: 8pt;
    margin: 0 auto;
    margin-top: 0vh;
    padding: 0px;
    width: 200px;
    display: block;
}

.info:hover {
    color: white;

}

.bottombox {
    display: none;
    color: lightgray;
    font-family: helvetica;
    font-size: 8pt;
    margin: 0 auto;
    margin-top: 0vh;
    padding: 10px;
    width: 200px;
}

.topbox {
    color: gray;
    font-family: helvetica;
    font-size: 8pt;
    margin: 0 auto;
    margin-top: 5vh;
    padding: 10px;
    width: 200px;
}

.ball {
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.ball:hover {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
}

.ball:nth-child(1) {
    border-radius: 20px;
    border: solid 3px black;
    height: 20px;
    width: 20px;
    -webkit-animation: quickback 1s infinite ease-in-out;
}

.ball:nth-child(2) {
    border-radius: 5px;
    border: solid 3px black;
    height: 30px;
    width: 30px;
    -webkit-animation: quickback 5s infinite ease-in-out;
}

.ball:nth-child(3) {
    border-radius: 40px;
    border: solid 3px black;
    width: 40px;
    height: 40px;
    -webkit-animation: quickback 15s infinite ease-in-out;
}

.ball:nth-child(4) {
    border-radius: 5px;
    border: solid 3px black;
    height: 50px;
    width: 50px;
    -webkit-animation: quickback 20s infinite ease-in-out;
}

.ball:nth-child(5) {
    border-radius: 60px;
    border: solid 3px black;
    height: 60px;
    width: 60px;
    -webkit-animation: quickback 25s infinite ease-in-out;
}

.ball:nth-child(6) {
    border-radius: 10px;
    border: solid 3px black;
    height: 70px;
    width: 70px;
    -webkit-animation: quickback 30s infinite ease-in-out;
}

@-webkit-keyframes quickback {
    0% {
        -webkit-transform: translate(-55vw);
    }
    99% {
        -webkit-transform: translate(55vw);
    }
    100% {
        -webkit-transform: translate(0px);
    }
}

@-moz-keyframes quickback {
    0% {
        -webkit-transform: translate(-55vw);
    }
    99% {
        -webkit-transform: translate(55vw);
    }
    100% {
        -webkit-transform: translate(0px);
    }
}

@keyframes quickback {
    0% {
        -webkit-transform: translate(-40vw);
    }
    99% {
        -webkit-transform: translate(41vw);
    }
    100% {
        -webkit-transform: translate(42vw);
    }
}
